@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
html,
body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  scroll-behavior: smooth;
}

h1 { font-size: 2.5rem; }
h2 { 
  font-size: 2rem; 
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 10px;
}
h4 { font-size: 1.5rem; }

p {
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.7em;
}

a { text-decoration: none; }

/*Utility Classes*/
.container {
  margin: auto;
  max-width: 1300px;
  overflow: auto;
  padding: 0 20px;
}

.large { font-size: 1.25rem; }

.display-1 { 
  font-size: 6rem; 
  font-weight: 200;
}


/* Header */
#mainheader {
  background: url('../img/showcase.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/* Navbar */
#navbar {
  color: #fff;
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

#navbar a {
  color: #fff;
}

#navbar .logo {
  float: left;
  padding-top: 16px;
  font-size: 30px;
  text-transform: uppercase;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  text-decoration: underline;
}

/* Showcase */
#showcase {
  padding-top: 100px;
}

#showcase h1,
#showcase p {
  width: 80%;
}

#showcase h4 {
  text-transform: uppercase;
  font-weight: 400;
}

.showcase-row {
  padding-top: 20px;
}

.showcase-box {
  float: left;
  width: 30%;
  height: 240px;
  padding: 90px;
  text-align: center;
  margin: 15px;
}

.showcase-box-1 {
  background: url('../img/perseverance.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.showcase-box-2 {
  background: url('../img/missions.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.showcase-box-3 {
  background: url('../img/future.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Feature Text */
#feature-text {
  background: url('../img/feature.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 0;
  font-weight: 200;
}

/* Futures */
#features {
  background: url('../img/background-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 180px;
  padding-bottom: 200px;
}

.perseverance-text {
  float: left;
  width: 60%;
  padding-top: 70px;
  padding-right: 90px;
}

.perseverance-image {
  float: right;
  width: 40%;
}

.perseverance-image img {
  height: 300px;
}

.missions-image {
  float: left;
  width: 40%;
  padding-top: 200px;
}

.missions-image img {
  height: 300px;
}

.missions-text {
  float: left;
  width: 50%;
  padding-top: 0px;
  padding-left: 90px;
}

/* Future */
#future {
  background: url('../img/background-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 180px;
}
  
#future h2 {
  text-align: center;
  padding-bottom: 80px;
}

#future p {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 15px;
}

#future img {
  height: 400px;
  padding: 90px 0;
  display: block;
  margin: 0 auto;
}

/* Footer */
#mainfooter {
  text-align: center;
  padding:30px;
}